/*
 * Colors
*/

// Base
$white: #fff;
$black: #000;
$transparent: transparent;

// Theme Dark
$text-dark: #f4f5f5;
$card-dark: #0b0d10;

$bg-pink-dark: #4e1736;
$bg-purple-dark: #22162c;
$bg-blue-dark: #0d2230;

$bg-fallback-dark: $bg-blue-dark;

// Theme Light
$text-light: #0b0d10;
$card-light: #f4f5f5;

$bg-pink-light: #ff3cac;
$bg-purple-light: #784ba0;
$bg-blue-light: #2b86c5;

$bg-fallback-light: $bg-blue-light;

// Icons
$icon-red: #ff6f6f;
$icon-yellow: #ffda47;
$icon-green: #83ff94;
$icon-blue: #60a2ff;