/*
 * Colors
*/

// Base
$white: #fff;
$black: #000;
$transparent: transparent;

// Light
$main-bg: #eaeff3;
$text-dark: #3a3a3a;
$red-warning: #fc7575;
$yellow-warning: #ffd753;
$green-warning: #91d3ae;
$blue-warning: #878bd3;

// Dark