/*
 * Colors
*/

// Base
$white: #fff;
$black: #000;
$transparent: transparent;

// Light
$main-bg: #f2f5f7;
$text-dark: #3a3a3a;
$text-gray: #5f5f5f;

$red-warning: #d43535;
$yellow-warning: #ffd753;
$green-warning: #6fa861;
$blue-warning: #6b8dc2;

// Dark