.main {
  padding: 2rem $side-spacing;
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  row-gap: 1rem;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.loading-gray {
  animation: pulse-gray 1s infinite;
  border-radius: 0.25rem;
  width: 100%;
  min-height: 2.25rem;
  display: inline;
}

.loading-gray-small {
  animation: pulse-gray 1s infinite;
  border-radius: 0.25rem;
  width: 2rem;
  min-height: 1rem;
  display: inline;
}

@keyframes pulse-gray {
  0% {
    background-color: rgba($gray-1, 0.15);
  }
  50% {
    background-color: rgba($gray-1, 0.2);
  }
  100% {
    background-color: rgba($gray-1, 0.15);
  }
}