/*
 * Colors
*/

// Base
$white: #fff;
$black: #000;
$transparent: transparent;

// Theme Dark
$main-dark: #0c131b;
$secondary-dark: #F4F5F5;
$accent-dark: #48A0DC;

// Theme Light
$main-light: #F4F5F5;
$secondary-light: #0c131b;
$accent-light: #3d537c;