/**
 * Form style here
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/**
 * Montserrat:
 * Light: 300;
 * Regular: 400;
 * Medium: 500;
 * Semi-bold: 600;
 * Bold: 700;
*/

/* 
 * Text mixins
*/

@mixin title-xl {
  font-family: $font-sans;
  font-weight: 700;
  color: $text-dark;
  font-size: 2.5rem;
}

@mixin title-l {
  font-family: $font-sans;
  font-weight: 700;
  color: $text-dark;
  font-size: 2rem;
}

@mixin title-m {
  font-family: $font-sans;
  font-weight: 700;
  color: $text-dark;
  font-size: 1.75rem;
}

@mixin title-s {
  font-family: $font-sans;
  font-weight: 600;
  color: $text-dark;
  font-size: 1.5rem;
}

@mixin title-xs($weight: 1) {
  font-family: $font-sans;
  color: $text-dark;;
  font-size: 1.25rem;

  @if $weight == 1 {
    font-weight: 400;
  } @else if $weight == 2 {
    font-weight: 600;
  } @else if $weight == 3 {
    font-weight: 700;
  } @else {
    font-weight: 400;
  }
}

@mixin text-xl($weight: 1) {
  font-family: $font-sans;
  color: $text-dark;
  font-size: 1.125rem;

  @if $weight == 1 {
    font-weight: 400;
  } @else if $weight == 2 {
    font-weight: 600;
  } @else if $weight == 3 {
    font-weight: 700;
  } @else {
    font-weight: 400;
  }
}

@mixin text-l($color: 1, $weight: 1) {
  font-family: $font-sans;
  color: $text-dark;
  font-size: 1rem;

  @if $color == 1 {
    color: $text-dark;
  } @else if $color == 2 {
    color: $text-placeholder;
  } @else if $color == 3 {
    color: $text-btn-disabled;
  } @else {
    color: $text-dark;
  }

  @if $weight == 1 {
    font-weight: 400;
  } @else if $weight == 2 {
    font-weight: 600;
  } @else if $weight == 3 {
    font-weight: 700;
  } @else {
    font-weight: 400;
  }
}

@mixin text-m($color: 1, $weight: 1) {
  font-family: $font-sans;
  color: $text-dark;
  font-size: 0.875rem;

  @if $color == 1 {
    color: $text-dark;
  } @else if $color == 2 {
    color: $text-placeholder;
  } @else if $color == 3 {
    color: $text-btn-disabled;
  } @else {
    color: $text-dark;
  }

  @if $weight == 1 {
    font-weight: 400;
  } @else if $weight == 2 {
    font-weight: 600;
  } @else if $weight == 3 {
    font-weight: 700;
  } @else {
    font-weight: 400;
  }
}

@mixin text-s($color: 1) {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 0.75rem;

  @if $color == 1 {
    color: $text-dark;
  } @else if $color == 2 {
    color: $text-placeholder;
  } @else if $color == 3 {
    color: $text-btn-disabled;
  } @else {
    color: $text-dark;
  }
}

@mixin text-xs($color: 1) {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 0.625rem;

  @if $color == 1 {
    color: $text-dark;
  } @else if $color == 2 {
    color: $text-placeholder;
  } @else if $color == 3 {
    color: $text-btn-disabled;
  } @else {
    color: $text-dark;
  }
}

@mixin text-btn($color: 1) {
  font-family: $font-sans;
  font-weight: 600;
  font-size: 0.875rem;

  @if $color == 1 {
    color: $white;
  } @else if $color == 2 {
    color: $text-btn-disabled;
  } @else if $color == 3 {
    color: $primary;
  } @else if $color == 4 {
    color: $text-btn-negative;
  } @else {
    color: $white;
  }
}